body {
  &>.container {
    width: inherit;
    padding: 20px 20px;
    max-width: 960px;
    .footer {
      margin-top: 0;
      background-color: inherit;
      color: inherit;
      .container {
        padding: 0;
        .footer-inner {
          padding: 5px 5px;
        }
      }
    }
    .jumbotron {
      background: none;
      box-shadow: none;
      color: #333333;
    }
    .modal.fade.in {
      top: 40%;
    }
    .navbar {
      .navbar-inner {
        .container {
          padding: 0;
        }
      }
    }
  }

}