<!doctype html>
<html ng-app="expensediv">

<head>

  <adorn>
    <id>
      <link type="text/css" rel="stylesheet" href="http://code.gavinengel.com/expensediv/client/css/bootstrap.min.css">
      <link type="text/css" rel="stylesheet" href="http://code.gavinengel.com/expensediv/client/css/docs.css">
      <link type="text/css" rel="stylesheet" href="http://code.gavinengel.com/expensediv/client/css/league-0.0.1.css">
      <link type="text/css" rel="stylesheet" href="/css/style.css">
      <link type="text/css" rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    </id>
    <ego>
      <style type="text/css">
        .dropdown-menu .btn.btn-default.btn-sm.btn-block { width: 100%;}
        .dropdown-menu .btn.btn-default.btn-sm { background-color: #fff; background-image: none; }
      </style>
    </ego>
  </adorn>
  

</head>

<body>


  <div id="expensediv">
   <div class="container">
    <h2>Expensediv</h2>
    <h3>A Zeonic, Bootstrap, and Express app</h3>

    <nav ng-controller="LoginCtrl" class="navbar navbar-default">

      <!-- logout -->
      <button ng-if="currentUser.username" class="btn btn-default navbar-btn" ng-click="logout()">
        Logout <strong>{{currentUser.username}}</strong>
      </button>
      <!-- /logout -->


      <!-- button for: loginModal -->
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#loginModal">Login</button>
      <!-- /button for: loginModal -->

    </nav>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li>
              <a href="#home">
                <i class="icon-home"></i>
                Home
              </a>
            </li>
            <li>
              <a href="#users">
                <i class="icon-github-alt"></i>
                Users
              </a>
            </li>
            <li>
              <a href="#expenses">
                <i class="icon-info-sign"></i>
                Expenses
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div ng-view></div>
    <div id="views">
      <div id="users" class="view">
        
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>



        <!-- button for: myModal -->
        <h2>Modal aaaa Example</h2>
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#add_user_modal"><i class="icon-white icon-plus"></i> Add new user</button>
        <!-- /button for: myModal -->



        <table ng-table="tableParams" class="table">
          <thead>
            <tr>
              <th>Username</th>
              <th>Name</th>
              <th>Designation</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(key, user) in envoy.users | filter:search | orderBy:'username'">
              <td data-title="'Username'">
                <span ng-if="!user.$edit">{{user.username}}</span>
                <div ng-if="user.$edit"><input class="form-control" type="text" ng-model="user.username" /></div>
              </td>
              <td data-title="'Name'">
                <span ng-if="!user.$edit">{{user.name}}</span>
                <div ng-if="user.$edit"><input class="form-control" type="text" ng-model="user.name" /></div>
              </td>
              <td data-title="'Text'" width="330">
                <span ng-if="!user.$edit">{{user.designation}}</span>
                <div ng-if="user.$edit"><input class="form-control" type="text" ng-model="user.designation" /></div>
              </td>
              <td data-title="'Actions'" width="200">
                <a ng-if="!user.$edit" href="" class="btn btn-primary btn-xs" ng-click="open(user._id)">Edit</a>
                <a ng-if="!user.$destroy" ng-click="removeRecord(user._id)" class="btn btn-default btn-xs">Delete</a>
                <a ng-if="user.$edit" href="" class="btn btn-primary btn-xs" ng-click="save()">Save</a>
              </td>
            </tr>
          </tbody>
        </table>


        <!-- add_user_modal -->
        <div class="modal fade" id="add_user_modal" role="dialog" tabindex="-1">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h3>User Form</h3>
              </div>
              <div class="modal-body">
                <!--<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>-->
                <form name="userForm" class="form-horizontal">

                  <div class="control-group">
                    <label class="control-label" for="username">Username</label>
                    <div class="controls">
                      <input id="username" name="username" ng-model="user.username" type="text" placeholder="Username" class="input-xlarge" required=""  ng-class="{error: user.username.$invalid && !user.username.$pristine}"/>
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                      <input id="name" name="name" ng-model="user.name" type="text" placeholder="Name" class="input-xlarge" required=""  ng-class="{error: user.name.$invalid && !user.name.$pristine}"/>
                    </div>
                  </div>

                  <div class="control-group" ng-class="{error: user.password.$invalid && !user.password.$pristine}">
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                      <input id="password" name="password" ng-model="user.password" type="password" placeholder="Password" class="input-xlarge" required="" />
                    </div>
                  </div>
                      <!--
                      <div class="control-group" ng-class="{error: user.dob.$invalid && !user.dob.$pristine}">
                        <label class="control-label" for="dob">Date Of Birth</label>
                        <div class="controls">
                          <input type="text" class="input-xlarge" datepicker-popup="yyyy-MM-dd" ng-model="user.dob" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="" date-disabled="disabled(date, mode)" ng-required="true" show-weeks="false" show-button-bar="false" />
                        </div>
                      </div>
                    -->
                    <!--
                    <div class="control-group">
                      <label class="control-label" for="gender">Gender</label>
                      <div class="controls">
                        <label class="radio inline" for="male">
                          <input type="radio" name="gender" ng-model="user.gender" id="male" value="male" checked="checked">
                          Male
                        </label>
                        <label class="radio inline" for="female">
                          <input type="radio" name="gender" ng-model="user.gender" id="female" value="female">
                          Female
                        </label>
                      </div>
                    </div>
                  -->

                  <div class="control-group">
                    <label class="control-label" for="designation">Designation</label>
                    <div class="controls">
                      <select id="designation" ng-model="user.designation" name="designation" class="input-xlarge" ng-options="opt.name as opt.name for opt in designations"></select>
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label" for="tnc">Term &amp; Condition</label>
                    <div class="controls">
                      <label class="checkbox inline" for="tnc">
                        <input name="tnc" id="tnc" type="checkbox" ng-model="user.tnc" required />Accept
                      </label>
                    </div>
                  </div>

                </form>
              </div>

            </div>
            <div class="modal-footer">
                <button ng-click="save()" ng-if="user._id" ng-disabled="user.$invalid || !user.tnc" class="btn btn-primary"><i class="icon-white icon-plus"></i> Save</button>
                <button ng-click="add()" type="submit" ng-if="!user._id" ng-disabled="user.$invalid || !user.tnc" class="btn btn-primary"><i class="icon-white icon-plus"></i> Add</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
          </div>

        </div>
        <!-- /add_user_modal -->
      </div>



      <div id="expenses" class="view">

        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>



        <!-- button for: add_expense_modal -->
        <h2>Modal Example</h2>
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#add_expense_modal"><i class="icon-white icon-plus"></i> Add new expense</button>
        <!-- /button for: add_expense_modal -->

              <!-- fields: date, time, description, amount, comment ... debug-->

    <table ng-table="tableParams" class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Description</th>
          <th>Amount</th>
          <th>Comment</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key, expense) in envoy.expenses | filter:search | orderBy:'expenseName'">

          <td data-title="'Name'" >
            <span >{{expense.expenseName}}</span>
            <div><input class="form-control" type="text" /></div>
          </td>

          <td data-title="'Text'" >
            <span >{{expense.city}}</span>
            <div><input class="form-control" type="text" /></div>
          </td>

          <td data-title="'Text'" >
            <span >{{expense.difference}}</span>
            <div><input class="form-control" type="text" /></div>
          </td>

          <td data-title="'Text'" >
            <span >{{expense.difference}}</span>
            <div><input class="form-control" type="text" /></div>
          </td>

          <td data-title="'Text'" >
            <span >{{expense.difference}}</span>
            <div ><input class="form-control" type="text" ng-model="expense.difference" /></div>
          </td>

          <td data-title="'Actions'" >
            <a ng-if="true" href="" class="btn btn-primary btn-xs" ng-click="open(expense._id)">Edit</a>
            <a ng-if="true" ng-click="removeRecord(expense._id)" class="btn btn-default btn-xs">Delete</a>
            <a ng-if="false" href="" class="btn btn-primary btn-xs" ng-click="save()">Save</a>
          </td>
        </tr>
      </tbody>
    </table>


    <!-- add_expense_modal -->
    <div class="modal fade" id="add_expense_modal" role="dialog" tabindex="-1">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Expense Form</h4>
          </div>
          <div class="modal-body">
              <form name="expenseForm" class="form-horizontal">
                <div class="control-group">
                  <label class="control-label" for="expenseDate">Expense date</label>
                  <div class="controls">
                    <input id="expenseDate" type="date" name="expenseDate" type="text" placeholder="Expense Date" class="input-xlarge" required="required" />
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="expenseTime">Expense time</label>
                  <div class="controls">
                    <input id="expenseTime" name="expenseTime" ng-model="expense.expenseTime" type="time" placeholder="Expense Time" class="input-xlarge" required="required" />
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="expenseDescription">Expense description</label>
                  <div class="controls">
                    <input id="expenseDescription" name="expenseDescription" ng-model="expense.expenseDescription" type="text" placeholder="Expense Description" class="input-xlarge" required="required" />
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="expenseAmount">Expense amount</label>
                  <div class="controls">
                    <input id="expenseAmount" name="expenseAmount" ng-model="expense.expenseAmount" type="text" placeholder="Expense Amount" class="input-xlarge" required="required"/>
                  </div>
                </div>      

                <div class="control-group">
                  <label class="control-label" for="expenseComment">Expense comment</label>
                  <div class="controls">
                    <input id="expenseComment" name="expenseComment" ng-model="expense.expenseComment" type="text" placeholder="Expense comment" class="input-xlarge" required="required" />
                  </div>
                </div>


              </form>

          </div>
          <div class="modal-footer">
            <button class="btn btn-primary btn-save"><i class="icon-white icon-plus"></i> Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>

      </div>
    </div><!-- /add_expense_modal -->
    <!-- /myModal -->
  </div><!-- /expenses -->
  <div id="home" class="view">
    <div class="container" ui-view="main">
      <div class="ng-scope">
        <h1>Expensediv</h1>

        <p class="lead">
          A Zeonic, <a href="http://getbootstrap.com/">Bootstrap</a>, and <a href="http://expressjs.com/">Express</a> app
        </p>

      </div>
    </div>







    <!-- myModal -->
    <div class="modal fade" id="loginModal" role="dialog" tabindex="-1">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Login</h4>
          </div>
          <div class="modal-body">
            <form class="col-xs-12">
              <div class="form-group">
                <label for="username">Username</label>
                <input id="username" name="username" class="form-control" type="username"
                ng-model="login.user.username" placeholder="Enter username"/>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input id="password" name="password" class="form-control" type="password"
                ng-model="login.user.password" placeholder="Enter password"/>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-info btn-lg">Submit</button>
                <input id="new_user" name="new_user" type="checkbox" ng-model="login.user.newUser"/>
                <label for="new_user">I am a new user</label>
              </div>
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
    <!-- /myModal -->



  </div>
  <footer class="footer">
    <div class="container">
      <div class="footer-inner">
        <p>
          :-)
        </p>
      </div>
    </div>
  </footer>
</div>

</div>


  

  <script src="https://cdn.rawgit.com/gavinengel/gavinengel.github.io/master/zeonic/js/zeonic.js" ></script>
    <script src="/js/app.js"></script>
</body>
<self>
  <precog>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route.min.js"></script>
    <script src="https://cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-resource.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="http://code.gavinengel.com/expensediv/client/js/vendor/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="http://code.gavinengel.com/expensediv/client/js/vendor/placeholders/angular-placeholders-0.0.1-SNAPSHOT.min.js"></script>
    <script type="text/javascript" src="http://code.gavinengel.com/expensediv/client/js/vendor/angular-grid/build/ng-grid.js"></script>


    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-animate.min.js"></script>
  -->

<!--
    <script src="js/misc.js" defer></script>
    <script src="js/services/services.js" defer></script>
    <script src="js/factories/factories.js" defer></script>
    <script src="js/controllers/controllers.js" defer></script>
    <script src="js/filters/filters.js" defer></script>
    <script src="js/directives/directives.js" defer></script>
  -->

</precog>
<cog>
  <script type="text/javascript">
      //zeonic.debug = true
      zeonic.fetch('js/zeon.json', zeonic.mix);
    </script>
  </cog>
</self>

</html>