$xsmall: "(max-width: 767px)";
$small: "(min-width: 768px) and (max-width: 991px)";
$medium: "(min-width: 992px) and (max-width: 1199px)";

$blue: #34495E;
$blue-dk: #2C3E50;
$green: #1ABC9C;
$green-dk: #16A085;

#app {
  [target=_blank] {
    cursor: alias;
  }
  #footer {
    background-color: #2F4254;
    text-align: center;
    padding: 40px 0;
    color: #FFFFFF;
    border-top: 8px inset #333;
    border-top: 8px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
    @media print {
      display: none;
    }
    .brands li a {
      color: #16A085;
      border-radius: 50px;
      border: 0;
      &:hover {
        color: #FFFFFF;
        background-color: #283848;
      }
    }
    p {
      margin: 0;
    }
  }
  #resume {
    #resume-items {
      float: none;
      overflow: hidden;
    }
  }
  #summary-items {
    text-align: start;
    margin-left: 15px;
    margin-right: 15px;
    float: right;
    @media (max-width: 548px) {

    }
  }

  #summary, #resume, #file.default.css {
    .info {
      font-style: italic;
    }
    .date {}
    text-align: start;
    .row {
      .three {
        width: 20%;
      }
      .twelve {
        width: 100%;
      }
      [class*="column"] + [class*="column"]:last-child {
        float: right;
      }
      .nine {
        width: 75%;
      }
      h1 {
        span {
          border-bottom: 3px solid #11ABB0;
          padding-bottom: 6px;
        }
      }
      h2 {
        text-align: center;
      }
      h3 {
        font-weight: bold;
      }
    }
    .column, .columns {
      position: relative;
      padding: 0 20px;
      min-height: 1px;
      float: left;
      @media #{$xsmall} {
        width: auto !important;
        float: none;
        margin-left: 0;
        margin-right: 0;
        padding: 0 15px;
      }
    }
    .header-col {
      @media #{$xsmall} {
        padding-top: 0;
        margin-bottom: 48px;
        text-align: center;
      }
    }
  }
  #slideshow {
    i {
      color: $green-dk;
    }
    .slide1 {
      .icon-first {
        color: #ED5A64;
      }
    }
    .slide2 {

    }
    .slide3 {

    }
  }

  #about {
    padding-top:30px;
    padding-bottom: 0;
    h3 {
      border-bottom: 3px solid #FFFFFF;
      padding-bottom: 5px;
      max-width: 150px;
    }
    .brands > li > a {
      background-color: transparent;
      color: #FFFFFF;
      transition-duration: 0.4s;
      &:hover {
        color: $blue;
      }
    }
  }
  

  #about {
    .overlay-wrapper {
      .brands > li > a {
        width: 25px;
        margin-top: 15px;
        &:hover {
          color: $green;
        }
      }
    }
  }
  #skills {
    display: none;
    background-color: #2F4254;
    padding: 30px 0;
  }
  #skills-toggle {
    border-radius: 5px 5px 0 0;
  }
  .easyPieChart {
    position: relative;
    canvas {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  [class*=bg-] {
    a {
      color: white;
    }    
  }
  .bg-green-dk {
    background-color: $green-dk;
  }
  .bg-green {
    background-color: $green;
  }
  .bg-blue {
    background-color: $blue;
  }
  .bg-blue-dk {
    background-color: $blue-dk;
  }
  .carousel-inner {
    height: 84px;
    @media #{$xsmall} {
      height: 136px;
    }
  }
  .jumbotron {
    .btn {
      margin-right: 15px;
    }
  }
  .chart {
    margin: 10px auto;
    font-size: 14px;
    font-weight: bold;
    height: 100px;
    line-height: 100px;
    width: 100px;
    text-align: center;
  }
  .timeline {
    border-left: 3px solid #FFFFFF;
    margin-left: 110px;
    padding-left: 0px;
  }
  .tweets {
    margin-top: 0;
    background-color: $green-dk;
    border-radius: 6px;
    padding: 7px 0;
    color: #FFFFFF;
    min-height: 84px;
    margin-bottom: 10px;
    p {
      padding: 8px 15px 0 0px;
      font-family: 'Montserrat';
      font-size: 16px;
    }
    .media-body {
      padding-left: 0;
      height: 84px;
    }
    i {
      font-size: 68px;
      color: $blue;
      padding-left: 15px;
    }
  }
  .event {
    padding: 20px 10px 20px 18px;
    margin-bottom: 15px;
    .event-info {
      position: absolute;
      left: 50px;
      width: 100px;
      &:after {
        font-family: FontAwesome;
        width: 36px;
        height: 36px;
        position: absolute;
        right: 5px;
        top: -7px;
        content: "\f024";
        text-align: center;
        font-size: 14px;
        border-radius: 50%;
        background-color: $green;
        border: 6px solid $blue;
        display: inline-block;
        padding-top: 2px;
      }
      .date {
        font-size: 12px;
        font-family: 'Montserrat';
        margin-left: 25px;
        div {
          float: left;
          padding: 8px 0 0 12px;
          font-weight: 600;
        }
      }
    }
  }
  .service {
    > h3 {
      transition-duration: 0.5s;
    }
    &:hover > h3 {
      color: $blue;
    }
    > p {
      line-height: 22px;
      text-align: justify;
    }
  }
  #services {
    img {
      max-width: 100px;
    }
  }
  #separator {
    text-align: center;
    padding: 50px 0;
    i {
      color: #ED5A64;
      font-size: 20px;
      margin-bottom: 10px;
    }
    .highlight {
      border-bottom: 3px solid #ED5A64;
      font-weight: 600;
      font-size: 16px;
    }
  }
  #showcase {
    h2 {
      margin-bottom: 35px;
    }
    h4 {
      color: #FFFFFF;
      margin-top: 15px;
    }
    .showcase-text {
      text-align: left;
      .media {
        margin-bottom: 30px;
        p {
          margin-bottom: 0;
        }
      }
    }
  }
  .showcase-icon {
    font-size: 70px;
    color: $blue;
    display: inline-block;
    width: 80px;
    text-align: center;
  }
  .media-body {
    padding-left: 20px;
  }
  #showcase {
    .showcase-carousel {
      margin-top: 30px;
    }
  }
  .showcase-text .showcase-button i {
    color: #FFFFFF;
  }
  #carousel-reference {
    position: absolute;
    top: 28px;
    right: 37px;
    left: 37px;
    bottom: 0;
  }
  .carousel .carousel-control {
    background: none;
    width: 40px;
    height: 40px;
    background-color: rgba(237, 90, 100, 0.4);
    top: 130px;
    padding-top: 5px;
    display: none;
    border-radius: 50px;
    &.left {
      left: 10px;
    }
    &.right {
      right: 10px;
    }
    &:hover {
      background-color: rgba(237, 90, 100, 0.8);
    }
  }
  .blockquote-reverse {
    border-color: $blue-dk;
    margin: 0 auto;
    p {
      font-size: 22px;
      i {
        margin-right: 5px;
      }
    }
  }
  blockquote footer {
    color: $green;
    font-size: 18px;
    font-style: italic;
  }
  .grid {
    padding: 20px;
    max-width: 1300px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
      width: 350px;
      margin: 0;
      padding: 20px;
      text-align: left;
      position: relative;
    }
    figure {
      margin: 0;
      position: relative;
      img {
        max-width: 100%;
        display: block;
        position: relative;
      }
    }
    figcaption {
      position: absolute;
      top: 0;
      left: 0;
      padding: 15px;
      background: #2c3f52;
      color: #ed4e6e;
      h3 {
        margin: 0;
        padding: 0;
        color: #fff;
      }
      span:before {
        content: 'by ';
      }
      a {
        text-align: center;
        padding: 5px 10px;
        border-radius: 2px;
        display: inline-block;
        background: #ed4e6e;
        color: #fff;
      }
    }
  }
  .cs-style-4 {
    li {
      -webkit-perspective: 1700px;
      -moz-perspective: 1700px;
      perspective: 1700px;
      -webkit-perspective-origin: 0 50%;
      -moz-perspective-origin: 0 50%;
      perspective-origin: 0 50%;
    }
    figure {
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transform-style: preserve-3d;
      > div {
        overflow: hidden;
      }
      img {
        -webkit-transition: -webkit-transform 0.4s;
        -moz-transition: -moz-transform 0.4s;
        transition: transform 0.4s;
      }
    }
  }
  .no-touch .cs-style-4 figure:hover img {
    -webkit-transform: translateX(25%);
    -moz-transform: translateX(25%);
    -ms-transform: translateX(25%);
    transform: translateX(25%);
  }
  .cs-style-4 {
    figure.cs-hover img {
      -webkit-transform: translateX(25%);
      -moz-transform: translateX(25%);
      -ms-transform: translateX(25%);
      transform: translateX(25%);
    }
    figcaption {
      height: 100%;
      width: 50%;
      opacity: 0;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: rotateY(-90deg);
      -moz-transform: rotateY(-90deg);
      transform: rotateY(-90deg);
      -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
      -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
      transition: transform 0.4s, opacity 0.1s 0.3s;
    }
  }
  .no-touch .cs-style-4 figure:hover figcaption {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
  }
  .cs-style-4 {
    figure.cs-hover figcaption {
      opacity: 1;
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      transform: rotateY(0deg);
      -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
      -moz-transition: -moz-transform 0.4s, opacity 0.1s;
      transition: transform 0.4s, opacity 0.1s;
    }
    figcaption a {
      position: absolute;
      bottom: 15px;
      background-color: #ED5A64;
      &:hover {
        color: #ED5A64;
        background-color: #ffffff;
      }
    }
  }
  #blog {
    text-align: center;
  }
  .blog-post {
    background-color: $blue-dk;
    text-align: left;
    border-radius: 5px;
    margin-top: 30px;
  }
  .blog-body {
    padding: 5px 10px;
    text-align: right;
    h3 {
      text-align: left;
    }
    p {
      text-align: left;
      margin: 0;
      max-height: 24px;
      overflow: hidden;
    }
    div {
      position: relative;
      img {
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0.4;
        height: 24px;
        max-width: 33%;
      }

      .btn {
      }
    }
  }
  .blog-post .blog-info {
    padding: 0;
    > a {
      display: table-cell;
      float: none;
      width: 1%;
      background-color: #f0f0f0;
      text-align: center;
      border-right: 1px solid #dddddd;
      color: #999;
      font-weight: bold;
      padding: 10px 0;
      transition: all 0.3s ease-in;
      &:first-child {
        border-bottom-left-radius: 5px;
      }
      &:last-child {
        border-right: 0;
        border-bottom-right-radius: 5px;
      }
      &:hover {
        background-color: #ED5A64;
        color: #ffffff;
        font-weight: bold;
      }
    }
  }
  #blog .line {
    background-color: #ED5A64;
    height: 4px;
    margin: 50px 0 30px 0;
    i {
      position: absolute;
      top: -23px;
      left: 176px;
      background-color: #2F4254;
      border-radius: 50px;
      width: 50px;
      height: 50px;
      padding: 13px 0 0 0;
      font-size: 28px;
    }
  }
  #pricing, .focal {
    ul {
      padding: 5px 5px;
      margin: 0;
      li {
        color: $blue-dk;
        padding: 5px 0;
        font-size: 16px;
        strong, i {
          margin-right: 10px;
        }
      }
    }
    #formal {
      &>div {
        margin-left: auto;
        margin-right: auto;
        display: block;
        float: none;
      }
    }
    #certificates {
      &>div {
        margin-left: auto;
        margin-right: auto;
        float: none;
      }
    }
    .btn-wrapper {
      background-color: #e0e0e0;
      padding: 15px 0;
      border-radius: 0 0 5px 5px;
    }
    .btn {
      padding: 7px 30px;
    }
    // TODO: remove pricing-headline and pricing-table and just have focal-*
    .focal-headline, .pricing-headline {
      background-color: $blue-dk;
      padding: 5px 5px;
      border-radius: 5px 5px 0 0;
      transition: all 0.3s ease-in-out;
      h3 {
        font-size: 24px;
        transition: all 0.3s ease-in-out;
      }
    }
    .focal-table, .pricing-table {
      background-color: #f0f0f0;
      border-radius: 5px;
      margin-top: 20px;
      &:hover .pricing-headline, &.active .pricing-headline {
        background-color: #ffffff;
      }
      &:hover .pricing-headline h3, &.active .pricing-headline h3 {
        color: $blue-dk;
      }
      &:hover .prize, &.active .prize {
        background-color: $blue-dk;
        color: #ffffff;
      }
    }
    .prize {
      background-color: #fff;
      width: 80px;
      height: 80px;
      margin: 0 auto;
      color: $blue-dk;
      border-radius: 50%;
      font-size: 25px;
      font-weight: bold;
      padding-top: 22px;
      transition: all 0.3s ease-in-out;
    }
  }
  #testimonials {
    background-color: $green-dk;
    .media {
      margin-top: 20px;
      a.pull-left {
        border-radius: 50%;
        margin-right: 15px;
        img {
          max-width: 100px;
        }
      }
      .media-body {
        background-color: rgba(0, 0, 0, 0.1);
        padding: 15px 20px;
        border-radius: 12px;
        h4 {
          margin: 0;
          font-weight: bold;
          font-size: 22px;
        }
        span {
          margin: 5px 0 15px;
          display: block;
          font-weight: bold;
          font-style: italic;
          font-size: 14px;
          color: #333;
        }
        p {
          margin: 0;
          padding: 5px 0 0;
          border-top: 1px dashed rgba(0, 0, 0, 0.2);
          text-align: left;
          line-height: 25px;
          font-size: 14px;
        }
      }
    }
  }
  #contact {
    color: #333333;
    text-align: center;
    .contact-alert .alert {
      margin: 0;
    }
    .macbook-inner {
      position: absolute;
      top: 65px;
      left: 163px;
      width: 845px;
      height: 532px;
      padding: 50px 30px 0;
      transition: all 0.3s ease;
      &.black {
        background-color: #222222;
      }
    }
    h3 {
      text-align: left;
      margin: 0 0 20px;
      color: #333333;
      font-weight: bold;
      font-size: 26px;
    }
    .form-control {
      box-shadow: none;
      border-radius: 5px;
      background-color: #FFFFFF;
      border: 0;
      margin-bottom: 28px;
      height: 38px;
    }
    textarea.form-control {
      height: 140px;
    }
    .form-control:focus {
      background-color: #ddd;
    }
    textarea {
      resize: none;
    }
    .contact-info {
      background-color: $green;
      border-radius: 5px;
      color: #FFFFFF;
      padding: 0 12px;
      text-align: left;
      p {
        border-bottom: 2px dashed $green-dk;
        margin: 0;
        padding: 12px 0;
        font-weight: bold;
        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
  .contact-image {
    width: 164px;
    padding-bottom: 15px;
  }
  #contact {
    .controls {
      position: relative;
    }
    .help-block {
      margin: 0;
      color: #DB4F58;
      font-size: 14px;
      position: absolute;
      right: 0;
      top: -22px;
      ul {
        margin: 0;
        list-style: none;
      }
    }
  }


}