
<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
<section>
	<input type="text" ng-model="search" class="search-query pull-left" placeholder="Search">
	<button ng-click="open()" class="btn btn-primary pull-right"><i class="icon-white icon-plus"></i> Add new expense</button>
</section>
<br/>

<table ng-table="tableParams" class="table">
	<thead>
		<tr>
			<th>Expense Name</th>
			<th>Name of city</th>
			<th>+/-</th>
			<th>local time</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
	<tr ng-repeat="(key, expense) in envoy.expenses | filter:search | orderBy:'expenseName'">
		<td data-title="'Name'" >
			<span >{{expense.expenseName}}</span>
			<div ng-if="expense.$edit"><input class="form-control" type="text" ng-model="expense.expenseName" /></div>
		</td>
		<td data-title="'Text'" >
			<span >{{expense.city}}</span>
			<div ng-if="expense.$edit"><input class="form-control" type="text" ng-model="expense.city" /></div>
		</td>
		<td data-title="'Text'" >
			<span >{{expense.difference}}</span>
			<div ng-if="expense.$edit"><input class="form-control" type="text" ng-model="expense.difference" /></div>
		</td>
		<td data-title="'Text'" >
      <div ng-controller='TimeCtrl'>
          <p>{{ clock | date:'medium'}}</p>
      </div>
      <span ng-bind="getLocalTime(expense)"></span>
			<span ng-if="true">{{expense.id}}</span>
			<div ng-if="false"><input class="form-control" type="text" ng-model="getLocalTime(expense._id)" /></div>
		</td>

		<td data-title="'Actions'" >
			<a ng-if="true" href="" class="btn btn-primary btn-xs" ng-click="open(expense._id)">Edit</a>
			<a ng-if="true" ng-click="removeRecord(expense._id)" class="btn btn-default btn-xs">Delete</a>
			<a ng-if="false" href="" class="btn btn-primary btn-xs" ng-click="save()">Save</a>
		</td>
	</tr>
	</tbody>
</table>

<script type="text/ng-template" id="add_expense_modal">
	<div class="modal-header">
		<h3>Expense Form</h3>
	</div>
	<div class="modal-body">
		<!--<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>-->
		<form name="expenseForm" class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="expenseName">Expense Name</label>
				<div class="controls">
					<input id="expenseName" name="expenseName" ng-model="expense.expenseName" type="text" placeholder="Expense Name" class="input-xlarge" required=""  ng-class="{error: expense.expenseName.$invalid && !expense.expenseName.$pristine}"/>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="city">Name of city in expense</label>
				<div class="controls">
					<input id="city" name="city" ng-model="expense.city" type="text" placeholder="City" class="input-xlarge" required="required"  ng-class="{error: expense.city.$invalid && !expense.city.$pristine}"/>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="difference">difference to GMT time</label>
				<div class="controls">
					<input id="difference" name="difference" ng-model="expense.difference" type="text" placeholder="Difference" class="input-xlarge" required="required"  ng-class="{error: expense.difference.$invalid && !expense.difference.$pristine}"/>
				</div>
			</div>			
			
		</form>
	</div>
	<div class="modal-footer">
		<button ng-click="save()" ng-if="expense._id" ng-disabled="!expense.expenseName || !expense.city || !expense.difference " class="btn btn-primary"><i class="icon-white icon-plus"></i> Save</button>
		
		<button ng-click="add()" type="submit" ng-if="!expense._id" ng-disabled="expense.$invalid || !expense.expenseName || !expense.city || !expense.difference" class="btn btn-primary"><i class="icon-white icon-plus"></i> Add</button>

		<button ng-click="cancel()" class="btn">Cancel</button>
	</div>
</script>